.clearfix {*zoom: 1;}
.clearfix:before,
.clearfix:after {display: table;line-height: 0;content: "";}
.clearfix:after {clear: both;}

.flex{
  display: flex;
}
.flex-1{flex: 1;}
.flex-justify-content-end{
  display: flex;
  justify-content:flex-end;
}
.flex-mixin-center-align{
  display: flex;
  align-items:center;
}
.flex-mixin-center{
  display: flex;
  align-items:center;
  justify-content:center;
}
i{display: inline-block;}


@mixin setBackground($url,$w,$h){
  display: inline-block;background-size: 100% 100%;
  background-image: url($url);  height: $h;width: $w;
}
