@import "../../styles/mixin";
.search-box{@extend .flex-mixin-center-align;  height:.62rem;background-color: #F4F4F4;border-radius: .64rem;flex: 1;
  border: 1px solid #28A3E9;padding: 0 .2rem;
  p{  flex: 1;@extend .flex-mixin-center;height: .6rem;color: #aaa;font-size: .24rem;
    i{background-image: url("../../images/icon/icon_35.png");height: .38rem;width: .38rem;
      background-size: 100% 100%;margin-right: .05rem;position: relative;top: -1px;}
  }
}
.nav{padding: 0 0.25rem;background-color: #fff;border-bottom: 1px solid #EEEEEE;overflow: hidden;
  position: relative;z-index: 100;
  li{float: left;width: 33.33%;height: .8rem;  font-size: .26rem;color: #666;
    i{content: '';@include setBackground("../../images/icon/icon_33.png",.28rem,.28rem);margin-left: .06rem;}
  }
}
.nav-list{overflow: hidden;height: 8rem;background-color: #fff;
  >aside{width:33.33vw;float: left;height: 100%;overflow: scroll;
    p{height: .8rem;display: flex;align-items: center;color: #555;font-size: .26rem;padding:0 .25rem;
      justify-content: space-between;border-bottom: 1px solid #EEEEEE;
      i{@include setBackground("../../images/icon/icon_46.png",.36rem,.36rem);}
      &.active{color: #29adfd;background-color: #F4F4F4;
        i{@include setBackground("../../images/icon/icon_37.png",.42rem,.42rem);}
      }
    }
  }
  >ul{width: 66.66vw;float: left;overflow: scroll;height: 100%;background-color: #EEEEEE;
    p{height: .8rem;display: flex;align-items: center;color: #555;font-size: .26rem;padding:0 .25rem;
      justify-content: center;border-bottom: 1px solid #E5E5E5;
      &.active{color: #29adfd;background-color: #F4F4F4;
        i{@include setBackground("../../images/icon/icon_36.png",.42rem,.42rem);margin-right: .06rem;position: relative;top: -1px;}
      }
    }
  }
}
.city-list{overflow: hidden;max-height: 8rem;background-color: #fff;width: 100vw;padding: .15rem 0;
  >aside{width:100vw;float: left;height: 100%;overflow: scroll;
    p{height: .8rem;display: flex;align-items: center;color: #555;font-size: .26rem;padding-left: .24rem;
      &.active{
        i{@include setBackground("../../images/icon/icon_36.png",.42rem,.42rem);margin-right: .06rem;}
      }
    }
  }
}
.bg{position: absolute;left: 0;top: 0;height: 100vh;width: 100vw;background-color: rgba(0,0,0,.4);z-index: 98;
  .box{top: 1.72rem;position: relative}
}
.store-box{position: absolute;top: 1.72rem;bottom: 0;width: 100vw;height: 100vh; z-index: 9 }
.store-item{display: flex;padding: .4rem 0;margin: 0 .25rem;border-bottom: 1px solid #EEEEEE;position: relative;
  >aside{width: 2rem;height: 2rem;position: relative;border-radius: .2rem;border: 1px solid #BDC4C9;overflow: hidden;
  img{height: 100%;width: auto;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);max-width: none}}
  >div{  flex: 1;padding-left: .35rem;text-align: left;color: #6F7B85;
    header{    color: #263038;  font-size: .26rem;  font-weight: 500;  margin: .15rem 0 .18rem;}
    >aside{overflow: hidden;height: .3rem ;
      >p{float: left;  position: relative; top: 3px;font-size: .24rem; } }
    >p{    margin-top: .20rem;  font-size: .24rem;
      span{    color: #A4A9AD;  font-size: .22rem;}
    }
  }
  >p{position: absolute;right: 0;bottom: .4rem;@extend .flex-mixin-center;@include setBackground("../../images/icon/list_icon_1.png",1.66rem,.76rem);
    padding-right: .3rem;    font-size: .32rem;color: #fff;display: flex;padding-bottom: .16rem;
  }
}
.star{float: left;width: 1.3rem;position: relative;
      span{margin-right: .04rem;margin-top: .04rem;  @include setBackground("../../images/icon/icon_24_1.png",.2rem,.2rem);  float: left;
    }
    >div{position: absolute;left: 0;top: 0;
      span{ background-image: url("../../images/icon/icon_24_2.png");} }

}
